* {
  box-sizing: border-box;
}

.root {
    margin: 0;
    font-family: Arial;
}

.landing {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nameForm {
  background-color: blueviolet;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#name {
  background-color: rgb(226, 43, 165);
  padding: 5px;
  width: 50px;
  height: 100px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.nameButton {
  background-color: rgb(43, 76, 226);
}




.welcomeHeader {
  background-color: #282c34;
  display: flex;
  flex-flow: column wrap;
  color: white;
  text-align: center;
}

.cdc {
  background-color: #282c34;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.welcome {
  display: flex;
  background-color: #282c34;
  flex-flow: column wrap;
}

.img {
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px;
}

.titles {
  text-align: center;
  margin-top: auto;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1rem;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  background-color: #282c34;
  padding: 15px;
  align-items: center;
}






.zero, .one, .two, .three, .four, .five {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

.userLanding {
  background-color: rgb(145, 255, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userWelcome {
  background-color: rgb(255, 217, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

